.agbalumo-regular {
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
}

.header__nav {
  display: flex;
  align-items: stretch; /* This forces both sides to have the exact same height */
  overflow: hidden;
}

.header__nav li:hover{
  color: var(--accent-gold);
}

.header__logo {
  flex: 1;
  display: flex;
  align-items: center; /* Centers logo text vertically */
  justify-content: center;
  position: relative;
  padding: 20px;
}
.header__logo-overlay {
  position: absolute;
  inset: 0;
  background-color: var(--primary-color);
  z-index: -1;
}

.header__logo h4 {
  font-family: "Agbalumo", system-ui; /* Your new font */
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
}

.header__menu, .header__menu-mobile {
  padding: 20px;
  flex: 1.236;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 64px;

  list-style: none;
}

.header__menu li {
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: var(--primary-color);
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  cursor: pointer;
}

.header__menu li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.header__menu-mobile {
  display: none;
  gap: 20px;

  position: relative;
}